* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

html {
    height: 100%;
}

body {
    background-color: #131212;
    display: grid;
    grid-template-columns: 93fr 100fr 93fr;
    height: 100%;
    width: 100%;
    margin: 0;
    column-gap: 10px;
    overflow: hidden;

    background-image:  radial-gradient(#a1aab3 0.75px, transparent 0.75px), radial-gradient(#a1aab3 0.75px, #131212 0.75px);
    background-size: 30px 30px;
    background-position: 0 0,15px 15px;
}

button {
    border-radius: 1px;
    font-family: "VT323", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    background: #131212;
    padding: 5px 15px 5px 15px;
    border: solid #ffffff 4px;
}

button:hover {
    color: #131212;
    background-color: #ffffff;
}

.side-card {
    border: white 8px solid;
    color: white;
    padding: 10px;
    border-radius: 1px;
    background-color: #131212;
}


.left-card, .game, .leaderboard {
    height: 100%;
}

.left-card {
    row-gap: 8px;
}

.game {
    position: relative;
    padding: 10px 0;
}

.game-menu {
    margin-top: 0;
}

.game-area {
    margin: auto;    
    height: 100%;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
}

.card-wrapper {
    /*width: 110px;
    height: 150px;*/
    perspective: 1000px;
    
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    
}

.card:hover {
    cursor: pointer;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    border-radius: 6px;
    box-shadow: 0 0 6px 1px rgba(255, 255, 255, 0.4);
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front {
    background-color: aliceblue;
    z-index: 1;
    
    background: linear-gradient(135deg, #5894c955 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #5894c9 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #5894c955 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #5894c9 25%, #F0F8FF 25%) 0px 0/ 20px 20px;
}

.front:hover {
    transition: transform 0.1s;
    transform: rotate(2deg) scale(1.02);
}

.back {
    background-color: coral;
    transform: rotateY(180deg);
}

.game-blocker {
    position: absolute;
    
    max-width: 470px;
    height: 100%;
    width: 100%;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
    cursor: not-allowed;
}

.introduction h1 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 110px;
    line-height: 75px;
    margin: 5px 0 15px 0;
}

.introduction p {
    margin: 5px 0 0 0;
    font-family: "Bitcount Grid Single", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.introduction h3 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 30px;
    margin-top: 30px;
}

.leaderboard {
    text-align: center;
    min-width: 0;
}

.leaderboard h2 {
    font-family: "VT323", monospace;
    font-weight: 400;
    font-size: 80px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-reverse {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-major {
    flex: 1;
}

.menu-buttons {
    gap: 10px;
}

.timer-section {
    font-family: "VT323", monospace;
    font-weight: 400;
    gap: 10px;
}

.timer-section h1 {
    font-size: 150px;
    line-height: 90px;
}

.timer-section h2 {
    font-size: 50px;
    line-height: 20px;
}

.timer-section h3 {
    font-size: 70px;
    color:olivedrab;
}

.leaderboardTable {
    border: 1px solid #dededf;
    
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 1px;
    text-align: left;
    word-wrap: break-word;

    font-family: "Bitcount Grid Single", sans-serif;
    font-weight: 300;
    font-family: 16px;
}

.leaderboardTable th, .leaderboardTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.leaderboardTable th {
    border: 1px solid white;
    background-color: white;
    color: #000000;
    padding: 5px;
}

.leaderboardTable td {
    border-bottom: 1px solid white;
    background-color: #131212;
    color: white;
    padding: 5px;
}

.table-rank {
    width: 16%;
    text-align: center;
}

.table-player {
    width: 68%;
}

.table-score {
    width: 16%;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Dim background */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #131212;
    padding: 10px;
    border-radius: 1px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
    color: #ffffff;
}

input {
    font-family: "Bitcount Grid Single", sans-serif;
    font-weight: 300;
    font-size: 18px;
	padding: 7px;
    margin: 5px;
	width: 80%;
	outline: none;
	background: #131212;
	color: #FFFFFF;
	border: 1px solid #C4D1EB;
	border-radius: 1px
}